**/.DS_Store
**/__pycache__

# training data (subject to NDA)
rawdata/get_data.ipynb
rawdata/hafro_demersal.csv
/data

# figures directory (generated automatically)
figures/

# features (downloaded automatically by config), large files
rawdata/copernicus/
